
.container{
	width:1100px;
	margin:0 auto ;
	overflow:hidden;
	margin-bottom:40px;
}


.menubar {
    background: black;
    color: white;
    overflow: hidden;
}


.menubar ul {
    list-style: none;
    width: 500px;
    overflow: hidden;
}


.menubar ul li {
    float: left;
    margin-left: 38px;
    text-align: center;
    margin-top: 15px;
}

.teacherinfo{
	background:black;
	color:white;
	padding:10px;
}

.teacher {
    margin-top: 30px;
}

.teacher img {
    width: 700px;
    margin-bottom: 20px;
}

.teacher1 img {
    width: 500px;
    margin-bottom: 20px;
}

.teacher1 {
    float: right;
    text-align: right;
}





.notice {
    border: 1px solid;
    margin-top: 40px;
    cursor:pointer;
	padding:10px;
}

.notice:hover{
	background:black;
	color:tomato;
}


/* Footer */

.lastpartWrap {
    background: black;
    color: white;
    padding: 70px 0px 30px;
}

.about_us {
    width: 250px;
    padding: 20;
    float: left;
	position:relative;
}

.about_us h4 {
    font-size: 25px;
    text-transform: uppercase;
    font-family: ;
    margin-bottom: 20px;
}

.contact_us {
    width: 250px;
    padding: 20px;
    float: left;
}

.contact_us h4 {
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.address {
    margin-bottom: 15px;
}

.address .fas.fa-map {
    font-size: 20px;
    padding: ;
    margin-top: 8px;
    float: left;
    
    margin-right: 12px;
}


.phone01 {
    margin-bottom: 10px;
}


.phone01 .fas.fa-phone-square-alt {
    font-size: 20px;
    float: left;
    margin-top: 8px;
    margin-right: 12px;
}


.email01 .fas.fa-at {
    float: left;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 12px;
}







.useful_link {
    width: 250px;
    padding: 20px;
    float: left;
}
.useful_link h4 {
    font-size: 25px;
    margin-bottom: 20px;
	text-transform: uppercase;
}

.useful_link span {
    float: left;
    padding: 6px;
    width: 150px;
}

.recent_post {
    width: 120px;
    float: left;
    padding: 20;
}
.recent_post h4 {
    font-size: 25px;
}
.date {
    margin: 15px 0px;
    border: 1px solid;
    width: 100;
}
.date h3 {
    font-size: 25;
    margin-left: 10px;
}
.date p {
    margin-left: 10px;
}

.info h4 {
    font-size: 20px;
    font-family: arial;
    margin-bottom: 10px;
}


.footer-icon {
    width: 200px;
    padding: 20;
    font-size: 20px;
    margin-top: 155px;
    float: left;
    position: absolute;
}


.footer-icon .fab.fa-facebook {
    margin-right: 10px;
}
.footer-icon .fab.fa-instagram{
    margin-right: 10px;
}
.footer-icon .fab.fa-twitter {
    margin-right: 10px;
}
.footer-icon .fab.linkedin-in {
    margin-right: 10px;
}


hr {
    border: 1px dashed;
}


.last-footer {
    width: 600px;
    font-size: 20;
    float: left;
	margin-top:20px;
}

.last-footer2 {
    width: 400px;
    float: left;
	margin-top:20px;
   
}

.last-footer2 ul {
    list-style: none;
    
}


.last-footer2 ul li {
    float: left;
    text-transform: uppercase;
    margin-right: 20px;
}








